li {
    list-style: none;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_items {
    display: flex;
    gap: 15px;
}

.nav_container {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
}

.mobile-nav-btn {
    display: none;
}

#hidden {
    display: flex;
}

@media(max-width:613px) {
    .nav_items {
        display: none;
    }

    .mobile-nav-btn {
        display: flex !important;
    }

    #hidden {
        position: absolute;
        left: 0px;
        top: 80px;
        height: 230px;
        width: 100%;
        background-color: #021E39;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .leftSide #hidden a {
        margin: 20px;
    }
}